body {
     background-color:rgb(54,54,54);
     font-family: Georgia, serif;
 }

.container {
     width: 80%;
     margin-right: auto;
     margin-left:  auto;
}

header,footer {
     background-color: rgba(28,28,28,05);
	 padding: 3%
} 

h1,h2,h3 {
     color:rgb(255,255,255);
     text-align: center;
}

p {
     color:rgb(255,255,255);
     
}
